<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiBlog</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
</head>
  <body>
    <h1>Edit post</h1>
    <form action="{{ '/edit-user/%s' %user.rowid }}" method="post">  
        <input type="text" name="name" value="{{user['name']}}">
        <input type="text" name="title" value="{{user['title']}}">
        <input type="text" name="content" value="{{user['content']}}">
        <input type="Submit" value="Submit">
    </form>
        


</body>
</html>