<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="/static/genre.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
</head>
<body>
   <h1>See your photos here!</h1> 
   <div class="pictures">
    {% for photo in photos %}
        <div class="image">
        <img src="{{photo}}">
        </div>
    {% endfor %}
</body>
</html>

</body>
</html>