<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiBlog</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
</head>
  <body>
    <form action="/success" method="post">
        <input type = "text" name = "name" placeholder = "Name">
        <input type = "text" name = "title" placeholder = "Title">
        <input type = "text" name = "content" placeholder = "Content">
        <input type = "text" name = "image" placeholder = "Search...">
        <input type="submit" value="submit"/>

    <form action="/success" method="post">

    <form>

    <div class="container">
      {% for user in users %}
        <div class="post">
          <h2>{{user["name"]}}</h2>
          <h2>{{user["title"]}}</h2>
          <h2>{{user["content"]}}</h2>
          <a href="{{ '/edit/%s' %user.rowid }}">Edit</a> |
          <a href="{{ '/delete-user/%s' %user.rowid }}">Delete</a>
        </div>            
        {% endfor %}
    </div> 
      
  