<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiBlog</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
</head>
  <body>
      <h1>You were successful!</h1>
        <div class="container">
            {% for user in users %}
                <h2>{{user["name"]}}</h2>
                <h2>{{user["title"]}}</h2>
                <h2>{{user["content"]}}</h2>
            </div>            
            {% endfor %}


</body>
</html>